<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HTML Doc</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to the EJS Template!</h1>
        <small>Small Tag</small>

        <form action="/get-form-data" method = "post">
            <input
                type = "text"
                placeholder = "Enter username"
                name = "username"
            >
            <input
                type = "text"
                placeholder = "Enter email"
                name = "email"
            >
            <input
                type = "password"
                placeholder = "Enter password"
                name = "password"
            >

            <button>Submit Form</button>
        </form>
    </body>
</html>